root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4

[*.{xaml,xml,csproj}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
